<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page_header"> <h1>Welcome <%= @user.name %></h1>
        <div class="col-lg-12">
          <% if @user.daily_activities %>
            <% @user.daily_activities.each do |activity| %>
              <div class="well">
                <h4><%= activity.name %></h4>
                <p><%= activity.description %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <%= link_to "My Journal", journal_path(current_user.journal) %>

    </div>
  </div>
</div>
