<div id="page-wrapper">
  <div class="container-fluid">

    <div class="col-lg-12">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="text-center">Welcome to the Accountability Journal</h3>
        </div>
        <div class="panel-body">
          <h4 class="text-muted">This app was inspired by an episode of the <a
            href="http://tim.blog/2016/06/25/useful-lessons-from-workaholics-anonymous-corporate-implosions-and-more/" target="_blank">
            Tim Ferriss podcast </a> with guest
            Ryan Holiday. Ryan was talking about how every
             morning he journals about what he did the day before. He specifically
             keeps track of things that are important to him, like how much deep
             work he did the day before.</h4>
          <h4 class="text-muted"> The ultimate goal of this app is to help you improve your life. It
            draws on ideas from the book <a href="https://www.amazon.com/Power-Habit-What-Life-Business/dp/081298160X" target="_blank">
            "The Power of Habit" </a> by Charles Duhigg.
            The hardest part of cultivating good habits is making that habit routine.
            By journaling about the daily activities that are important to you, the hope
            is that you will hold yourself accountable for those things, and they become
            good daily habits.
          </h4>
            <h4 class="text-muted">It's easy to get started. Just Sign up, and you will be prompted to create
            a journal and daily activites that are important to you. From there you simply
            create an entry every day reflecting on your daily activities.</h4>

        </div>
      </div>
    </div>
  </div>
</div>
